html,
  body  { 
        display: flex;
        justify-content: center;
        min-height: 100vh;
       font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
img{
    margin: 0px;
    padding-bottom: 900px;
    height: 150px;
    width: 200px;
    padding-right: 250px;
   
  }
  
  
  form{
    padding: 50px 250px 100px 0px;
  
  }


  input{
    padding: 10px 190px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    font-weight: 600;
  }


  .sign{
          padding:20px 100px 20px 88px ;
          margin-top: 10px;
          background:rgb(10, 80, 244);
          outline: none;
          border: none;
          border-radius: 40px;
          cursor: pointer;
         color:white;
         width: 100%;      
  }

  
  span{
    color: rgb(10, 80, 244);
  }
  

  button{
        padding:10px 100px 15px 88px ;
        margin-top: 10px;
        background:white;
        border: 1px solid;
        border-color: black;
        outline: none;
        border-radius: 40px;
        cursor: pointer;
        color:gray;
        font-weight: 600;
        font-size: 15px;
        width: 100%;
         
  }
 
  
  .hr{ 
    display: flex;
    padding-left: 25%;
    width: 50%;
    padding-top: 15px;
    line-height: 25px; 
  
}

.label1{
padding-left: 100px;

}


.footer{
    width: 100%;
    background-color:rgba(250, 244, 244, 0.515); ;
    position:absolute;
    bottom:0;
    left: 0;
}


.footer a{
    color: #070000;
    text-decoration: none;
    cursor: pointer;
}


.footer a:hover{
   text-decoration: underline;
}


.block1{
 display: flex;
   gap: 110px;
    width: 100%;
}
 
 
 